AIRFLOW_UID=50000
GCP_PROJECT_ID=snappy-monolith-481115-e5
GCP_LOCATION=asia-southeast1
GCS_BUCKET_NAME=crypto-data-lake-subin
BQ_RAW_DATASET=crypto_dataset
BQ_MART_DATASET=crypto_marts
BQ_COINGECKO_TABLE=coingecko_prices
BQ_REDDIT_TABLE=reddit_posts
BQ_BTC_REALTIME_TABLE=btc_realtime
GOOGLE_APPLICATION_CREDENTIALS=D:/crypto-data-pipeline/gcp-key.json
