AIRFLOW_UID=50000
GCP_PROJECT_ID=snappy-monolith-481115-e5
GCP_LOCATION=asia-southeast1
GCS_BUCKET_NAME=crypto-data-lake-subin
BQ_RAW_DATASET=crypto_dataset
BQ_MART_DATASET=crypto_marts
BQ_COINGECKO_TABLE=coingecko_prices
BQ_REDDIT_TABLE=reddit_posts
BQ_BTC_REALTIME_TABLE=btc_realtime
GOOGLE_APPLICATION_CREDENTIALS=D:/crypto-data-pipeline/gcp-key.json
EXPECTED_COIN_IDS=bitcoin,ethereum
STREAMING_MAX_DELAY_MINUTES=10
STREAMING_MONITOR_SCHEDULE=*/5 * * * *
ALERT_EMAIL_TO=nguyensubins1@gmail.com
SLACK_WEBHOOK_URL=
AIRFLOW__SMTP__SMTP_STARTTLS=True
AIRFLOW__SMTP__SMTP_SSL=False
AIRFLOW__SMTP__SMTP_USER=nguyensubins1@gmail.com
AIRFLOW__SMTP__SMTP_PASSWORD=uoapnmxbjcogakdl
AIRFLOW__SMTP__SMTP_PORT=587
AIRFLOW__SMTP__SMTP_MAIL_FROM=nguyensubins1@gmail.com
